name: Docs

on:
  push:
    branches: [main]

jobs:
  build_and_lint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: setup node
        uses: actions/setup-node@v2
        with:
          node-version: "16"
          cache: "yarn"

      - name: build
        run: yarn

      - name: deploy docs to github pages
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          branch: gh-pages
          folder: ./dist/docs
